block content
 include header
 +header(Video)
 h2
   em Game to your greatest desire!
 .fadeInUp-animation
   .homepage-cont
     .Picture
       img.videoGames(src='images/VideoGames.jpg' alt='Video Game Auction')
     .description
       p
         | Video Game Auction is a one stop shop to get any type of games for 
         em cheap!
         |  Our auctioneers 
         |  are 
         strong specialized
         |  to give you all the information about the products. This allows
         |  the best experience at Video Game Auction!
       p
         | Here are some items Video Game Auction:
         ul
           li Video Games
           li Consoles
           li Video Game Merch
         | While these are some of the items we provide at Video Game Auction. There is plenty more
         | for you too look for! Look around and see what catches your eye!